@import '../../styles/variables.scss';

.task {
  @include displayStart();
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px $lightBlue inset;
  padding: 10px 20px;
  width: 100%;
  background-color: #ecf0f1;
  color: $darkBlue;

  &:hover {
    box-shadow: 0 0 0 3px $blueSelect inset;
    background-color: $blueSelect;
  }

  &_checkBox {
    margin-right: 15px;
    color: $lightBlue;
  }

  &_text {
    flex-grow: 1;
    font-size: 17px;
    line-height: 20px;
  }

  &_complete {
    text-decoration: line-through;
    font-size: 17px;
    line-height: 20px;
    color: $red;
  }

  &_btnDelete {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;

    &_icon {
      transition: opacity 0.2s, transform 0.2s;
      width: 24px;
      height: 24px;
      opacity: 0.8;
      color: $red;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }
}