@import '../../styles/variables.scss';

.bottomPanel {
  border: none;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  background-color: #FFFFFF;
  color: rgb(14, 14, 14);

  &_flex {
    &_top {
      @include displayCenter();
      margin-bottom: 10px;

      &_title {
        margin-right: 10px;
        font-size: 22px;
        line-height: 20px;
      }

      &_icon {
        width: 20px;
        height: 20px;
      }

      &_border {
        margin-bottom: 10px;
      }
    }

    &_list {
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
      list-style: none;

      &_item {
        margin-bottom: 7px;
      }
      &_item:last-child {
        margin-bottom: 0;
      }
    }
  }
}