@import '../../styles/variables.scss';

.inputBlock {
  @include displayCenter();
  position: relative;
  margin-bottom: 30px;

  &_input {
    border: none;
    border-radius: 5px;
    width: 300px;
    padding: 10px 35px 10px 10px;
  }

  &_addBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 27px;
    line-height: 27px;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}