@import '../../styles/variables.scss';

.inputForm {
  @include displayCenter();
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;

  &_input {
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    padding: 10px 35px 10px 10px;
  }

  &_tooLong {
    font-size: 17px;
    line-height: 20px;
    color: rgb(255, 14, 1);
  }

  &_addBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font-size: 27px;
    line-height: 27px;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}