@import '../../styles/variables.scss';

.footer {
  border: none;
  border-radius: 50px 50px 0px 0px;
  background-color: rgb(14, 14, 14);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 -4px 8px rgba(0, 0, 0, 0.25);

  &_flex {
    @include displayCenter();
    height: 50px;

    span {
      font-size: 20px;
      line-height: 25px;
      text-align: center;
    }
  }
}